/*estilos a mi body*/

*{
    font-family: cursive;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
    color:  black; 
}
main{
    display: flex;
}

button{ 
   display: flexbox;
   height: 70px;
   width: 70px;
   margin-left: 20px;
   border-radius: 80px;
   background: none;
   border: solid 0px ;
   cursor: pointer;
   font-size: large;
}

h1{
    text-align: center;
}

.grid-img img{ 
    display: block;
    margin: 10px auto;
    width: 270px;
    height: 80px ;
    min-width: auto;
    min-height: auto;
}


img{ 
    display: block;
    margin: 10px auto;
    width: 400px;
    height: auto;
    min-width: auto;
    min-height: auto;
}

div{
    display: grid;
    justify-content: center;
}
 
form img{ 
    display: flexbox;
    width: 80%;
    height: auto;
}
  
